$information-phone: "only screen and (max-width : 320px)";
$breakpoint-tablet: 768px;


.Navbar {
    padding: 5px 15px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;

    .Navbar__logo{
        color: black
    }

    .Navbar__repo-input {
        margin: 0 10px
    }

    .Navbar__submit-btn{
        margin-top: 5px
    }


    
}


@media(max-width: $breakpoint-tablet){
    .Navbar{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2em;

        form{
            // background-color: blue;
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            .Navbar__repo-input{
                margin: 15px 0
            }
        }
    }
}